@import "../../styles/custom";
@import "../../styles/mixins/center";
@namespace: kj-detail;


.@{namespace} .@{css-prefix}-row {
	background-color: #fff;
}
.@{namespace} .con-wrap {
	padding: 10px;
	border-bottom: 1px solid @border-color-base;
}
.@{namespace} .con-wrap .@{css-prefix}-icon {
	position: absolute;
	color: @text-grap;
	.centerMidRig(10px);
}
.kj-table-wrap {
	background-color: @body-background;
}
.kj-table-wrap table {
	background-color: #fff;
	opacity: 0.6;
	width: 98%;
	margin: @sub-module-space auto;
}
.kj-table-wrap tbody tr td:last-child {
	color: @color-base;
}
