@import "../../styles/custom.less";
@btn-base-height 					: 40px;
.@{css-prefix}-btn {
	background-color: @color-base;
	color: #fff;
	width: 100%;
	text-align: center;
	height: @btn-base-height;
	line-height: @btn-base-height;
}
.@{css-prefix}-btn-radius {
	border-radius: @border-radius-small;
}
