.text-grap {
	color: @text-grap;
}
.text-base-color {
	color: @color-base;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.tel {
	color: @color-base;
	&:link {
		color: @color-base;;
	}
	&:hover {
		color: @color-base;;
	}
	&:active {
		color: @color-base;;
	}

	&:active,
	&hover {
		outline: 0;
		text-decoration: none;
	}
}
.mid-size {
	font-size: 14px;
}
.big-size {
	font-size: 16px;
}
.icon-font-big {
	font-size: 22px;
}
